{{define "title"}}{{.Form.Name}}{{end}}

{{define "main"}}
<h1>{{.Form.Name}}</h1>
<form action="" method="post" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <label>Title:</label>
  {{with .Form.FieldErrors.title}}
  <div class="error">{{.}}</div>
  {{end}}
  <input type="text" name="title" value="{{.Form.Title}}">
  <label>Content:</label>
  {{with .Form.FieldErrors.content}}
  <div class="error">{{.}}</div>
  {{end}}
  <textarea name="content">{{.Form.Content}}</textarea>
  <input type="submit" value="Publish">
</form>
{{end}}
