{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{template "title" .}} | Microblog</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header>
    <a class="title" href="/">
      <h1>Microblog</h1>
    </a>
    <nav>
      <p>
        <a href="/">Home</a>
        {{if .IsAuthenticated}}
        <a href="/post/add">Add Post</a>
        <a href="/user/logout">Logout</a>
        {{else}}
        <a href="/user/login">Login</a>
        {{end}}
      </p>
    </nav>
  </header>

  <main>
    {{if .Flash}}
    <div class="alert-flash">{{.Flash}}</div>
    {{end}}
    {{template "main" .}}
  </main>

  <footer>
    <span>Powered by <a href="https://go.dev/">Go</a></span>
  </footer>
</body>
</html>
{{end}}
