body {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: #FFFFFF;
  line-height: 1.5;
  color: #444444;
}

h1 {
  color: #222222;
}

a {
  color: #3273DC;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 8px;
}

time {
  font-family: monospace;
  font-style: normal;
  font-size: 15px;
}

main {
  line-height: 1.6;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8B6FCB;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input, textarea {
  padding: 8px;
  margin-bottom: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}

textarea {
  height: 300px;
}

.error {
  color: #FF0000;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: none;
}

.alert-flash, .alert-error {
  border-radius: 4px;
  font-size: 15px;
  padding: 5px 10px;
}

.alert-flash {
  color: #0F5132;
  background-color: #D1E7DD;
  border: 1px solid #BADBCC;
}

.alert-error {
  color: #842029;
  background-color: #F8D7DA;
  border: 1px solid #F5C2C7;
}
